@(surveyForm: Form[User], survey: Survey)

@import helper._
@import helper.twitterBootstrap._

@form(routes.SurveyController.stageFour) {

    @select(field = surveyForm("frequencyTakeChildrenToICM"), options("everyWeek"->"Every week", "onceAMonth"->"Once a month", "onceEveryTwoOrThreeMonths"->"Once every two or three months", "twiceAYear"->"Twice a year", "onceAYear"->"Once a year", "lessThanOnceAYear"->"Less than once a year"), '_label -> "Approximately, how often do you take your child/children to the Iowa Children’s Museum?")
    @select(field = surveyForm("childsFavoriteExhibit"), options("Pizzeria"->"Pizzeria", "GroceryStore"->" Grocery Store", "Theater"->"Theater", "Hospital"->"Hospital", "ArtRoom"->"Art Room", "Takeflight"->"Take flight", "Musicroom"->"Music room", "Bank"->"Bank", "Postoffice"->"Post office", "Bodiesinmotion"->"Bodies in motion", "ABC forest"->"ABC forest", "ImagineAcres"->"Imagine Acres", "LegoRoom"->"Lego Room", "TrainRoom"->"Train Room", "Wind tunnel"->"Wind tunnel"), '_label -> "What is your child’s favorite exhibit?")
    @select(field = surveyForm("yourFavoriteExhibit"), options("Pizzeria"->"Pizzeria", "GroceryStore"->" Grocery Store", "Theater"->"Theater", "Hospital"->"Hospital", "ArtRoom"->"Art Room", "Takeflight"->"Take flight", "Musicroom"->"Music room", "Bank"->"Bank", "Postoffice"->"Post office", "Bodiesinmotion"->"Bodies in motion", "ABC forest"->"ABC forest", "ImagineAcres"->"Imagine Acres", "LegoRoom"->"Lego Room", "TrainRoom"->"Train Room", "Wind tunnel"->"Wind tunnel"), '_label -> "What is your favorite exhibit?")

    <div class="actions">
        <input type="submit" class="btn btn-success" value="Finish">
    </div>

}