/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);
@import url(http://fonts.googleapis.com/css?family=Finger+Paint);


/* CARDS */
#cards {
    width: 100%;
    padding-top: 100px;
}

/* Footer */
#footer {
	position: fixed;
	width:100%;
	left: 0px;
	bottom: 0px;
	height: 5%;
	padding: 10 0px 10 0px;
	font-family: "Raleway";
  	background-color: #50C1C1;
}

#footer p {
	color: white;
	text-align: right;
	font-weight: 400;
}

#footer a {
  color: #4e4e4e;
}
/* Image Opacity */
.grid img {
    opacity: .7;
}
.grid img:hover {
    opacity: 1;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}