/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);
@import url(http://fonts.googleapis.com/css?family=Finger+Paint);

/* Game of Games */
#gog {

    padding-top: 50px;
    padding-bottom: 50px;
}

/* WHAT IS Game of Games */
#whatIsGOG {

    background-color: #50C1C1;
    padding-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 50px;
}

#whatIsGOG #title {
    text-align: center;
    color: white;
    font-family: "Raleway";
}

#whatIsGOG h2{
  font-family: "Lato";
    color: white;
    font-weight: 400;
    margin-bottom: 35px;
}

#whatIsGOG h3 {
  font-family: "Raleway";
    color: black;
    font-weight: 400;
    margin-bottom: 30px;
}
#whatIsGOG ul{
  text-decoration: square;
}
#whatIsGOG p, li{
  font-family: "Raleway";
    color: white;
    font-weight: 400;
    font-size: 20px;
}

/* GOG Video*/
#gogVideo {
  background-color: #4e4e4e;
  position: relative;
    padding-bottom: 450px;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

#gogVideo h3, h4 {
  color: white;
  font-family: "Raleway";
  color: white;
  font-weight: 400;
  margin-bottom: 30px;
}

#gogVideo p {
  color: white;
  font-weight: 400;
}



