
/* readySetPLAY */
#readySetPLAY {
    font-family: "Raleway";
    background-color: #4e4e4e;
    padding-top: 70px;
    padding-bottom: 70px;
    height:100%;
    

}

#readySetPLAY h1,h2,h3,h4 {
    color: white;
    font-family: "Lato";
}

#readySetPLAY p {
    font-size: 20px;
}

#readySetPLAY #instruct {
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

#readySetPLAY #title {
    text-align: center;
    color: white;

 }

#readySetPlay #deckSelection {
    text-align: center;
    color: white;

}
#selection{
    overflow-x: hidden;
    padding-top:5px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}


#readySetPLAY .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #E8E8E8 ;
 }

/* CARDS */

#selectedDeck, #selectedAge{
    color: #50C1C1;
}

#readySetPLAY #links #cardDisplayName{
    padding-top:5px;
    color: #50C1C1;
    font-size: 16px;
    font-weight: 400;
}

#readySetPLAY #links #frontCard{
    max-width: 300px;
    max-height: 500px;
}