
/* readySetPLAY */
#readySetPLAY {
    font-family: "Raleway";
    background-color: #4e4e4e;
    padding-top: 70px;
    padding-bottom: 70px;
}

#readySetPLAY h1,h2,h3,h4 {
    color: white;
    font-family: "Lato";
}

#readySetPLAY #instruct {
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

#readySetPLAY #title {
    text-align: center;
    color: white;
    font-family: "Raleway";

 }

#readySetPlay #deckSelection {
    text-align: center;
    color: white;
    font-family: "Raleway";

}

#selection{
    overflow-x: hidden;
}

#readySetPLAY .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #E8E8E8 ;
 }

/* CARDS */

#selectedDeck, #selectedAge{
    color: #50C1C1;
}
