
 
/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);
@import url(http://fonts.googleapis.com/css?family=Finger+Paint);

/* BODY */
body{
	height: 100%
}
/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    font-family: "Raleway";
    line-height: 28px;
    margin-bottom: 25px;
}

ul, li {
  font-family: "Raleway";
}

.centered {
    text-align: center;
}


.mt {
  margin-top: 40px;
}

/* BOOTSTRAP MOD */

.navbar-default ul li{
  font-size: 20px;
  font-family: "Lato";
 }

/*************************************/

/* playIsLearning */
#playIsLearning {
	width: 100%;
	padding-top: 70px;
	padding-bottom: 50px;
}

#playIsLearning h1 {
	font-size: 90px;
	font-weight: 700;
	letter-spacing: 3px;
	color: #74cfae;
}

#playIsLearning h2 {
	color: black;
	font-weight: 400;
  	text-align: center;
  	font-family: "Lato"
}
#sbQuote{
	padding-top: 150px;
	font-family: "Raleway";
    line-height: 28px;
    margin-bottom: 25px;
    color:#50C1C1;
}
#PIL #playIsLearning{
  margin: 0 auto;
}

/* WHAT IS Playing is Learning? */
#whatIsPIL {
	background-color: #50C1C1;
	padding-top: 50px;
	margin-bottom: 0px;
  	padding-bottom: 50px;
}

#whatIsPIL h3 {
  font-family: "Lato";
	color: black;
	font-weight: 400;
	margin-bottom: 35px;
}

#whatIsPIL ul{
  text-decoration: square;
}
#whatIsPIL p, li{
	color: white;
	font-size: 20px;
}


/* pilVideo */
#pilVideo {
	background-color: #4e4e4e;
	padding-top: 70px;
	padding-bottom: 70px;
	margin-top: 0px;
}

#pilVideo h3, h4 {
	color: white;
	font-family: "Raleway";
	color: white;
	font-weight: 400;
	margin-bottom: 30px;
}

#pilVideo p {
	color: white;
	font-weight: 400;
}

/* Sponsors Media */
#sponsors {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

#sponsors i {
	font-size: 50px;
	color: #74cfae;
}

#sponsors .col-md-3:hover {
	background-color: #f5f5f5;
}

#sponsors .col-md-3 {
	padding:30px;
}

/* VIDEO */
.videoContainer{
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    overflow: hidden;
}
.videoContaineriframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* FOOTER */
#footer {
	padding-top: 20px;
	font-family: "Raleway";
  background-color: #50C1C1;
}

#footer p {
	color: white;
	text-align: right;
	font-weight: 400;
}

#footer a {
  color: #4e4e4e;
}



