@(loginForm: Form[User])

@import helper._
@import helper.twitterBootstrap._


<img height='500' width='400' style="display:block;max-height: 500px;max-width: 400px;margin-left: auto;margin-right: auto;margin-top: -100px;" src='@routes.Assets.at("images/PlayLogo2.jpg")'/>

<div>
    @form(routes.Entrance.login) {

        <fieldset style="margin-top: -75px;">
            @inputText(
                loginForm("username"),
                '_label -> "Username",
                '_error -> loginForm.globalError
            )

            @inputPassword(
                loginForm("password"),
                '_label -> "Password"
            )
        </fieldset>

        <fieldset style="display: inline; margin-bottom: 10px;">
            @checkbox(
                loginForm("accept"),
                '_label -> None, '_text -> "Remember me",
                '_showConstraints -> false
            )
        </fieldset>

        <a href="/recoverPassword" style="color: blue;margin-left: 1em;">I forgot my password</a>

        <div class="actions">
            <input type="submit" class="btn btn-large btn-primary" value="Sign In">
        </div>
    }

    <br>

    <a class="btn btn-warning" href="#terms" onclick="window.location = '#tab/terms'">Register</a>
</div>