<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/letsplay.css")'>
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/blueimp-gallery.min.css")'>
<script src='@routes.Assets.at("javascripts/letsplay.js")'></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>

<div id="readySetPLAY" ng:app="letsPlay" ng-controller="selectCTRL">
    <div id="title">
        <h2> Ready, Set, PLAY! </h2>
    </div>
    <div id="instruct">
        <p> To start playing, select the age group and deck you would like to play with.</p>
    </div>

    <fieldset>
        <div id="selection">
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-2">
                    <select ng-model="selectedDeck" ng-options="d for d in decks">
                    </select> 
                    <select ng-model="selectedAge" ng-options="a for a in ages">
                    </select> 
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3"></div> 
            </div> <!-- /row -->               
        </div> <!-- /selection -->
    </fieldset>

    <br>

    <div id="deckSelection">
        <h4> You are playing with the <b id="selectedDeck">{{selectedDeck}} </b>deck for ages <b id="selectedAge"> {{selectedAge}}</b></h4>
        <br>
    </div>
    <div  class="centered" >
            <a class="btn btn-lg btn-default" ng-click="useDeck()"><b>Shuffle!</b></a>
            <div ng-repeat=" card in array | shuffle | limitTo:1">
                <br>
                 <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
                <div id="blueimp-gallery" class="blueimp-gallery">
                    <!-- The container for the modal slides -->
                    <div class="slides"></div>
                    <!-- Controls for the borderless lightbox -->
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                    <!-- The modal dialog, which will be used to wrap the lightbox content -->
                    <div class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body next"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left prev">
                                        <i class="glyphicon glyphicon-chevron-left"></i>
                                        Previous
                                    </button>
                                    <button type="button" class="btn btn-primary next">
                                        Next
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </button>
                                </div> <!--modal-header -->
                            </div> <!--modal-content -->
                        </div> <!--modal-dialog -->
                    </div> <!-- modal fade --> 
                </div>  <!-- /blueimp-gallery-->
                <div id='links'>
                    <a href="{{card.youngOne}}" title={{card.name}} data-gallery="gallery" rel='gallery'><img id="frontCard" src="{{card.youngOne}}"></a> 
                    <br><div id="cardDisplayName"> {{card.name}} </div>
                    <a style="display:none" href="{{card.youngTwo}}" title={{card.name}} data-gallery="gallery" rel='gallery'>{{card.name}}</a>
                </div><!-- /links -->
            </div> <!--/ng-repeat=" card in array -->
    </div><!-- centered -->
</div> <!-- /readSetPLAY -->


<script type="text/javascript">


var selectModule = angular.module("letsPlay", []);

selectModule.controller("selectCTRL", function($scope){
    $scope.decks = [
        "ICM Museum Deck 1",
        "ICM Museum Deck 2"];
        $scope.selectedDeck = $scope.decks[0];
        
        $scope.ages = [
        "0-3",
        "3+"];
        $scope.selectedAge = $scope.ages[0];

        var icmDeck = [
        { name: 'Train Room',
                logo: '@routes.Assets.at("images/icons/train.png")',
                youngOne:'@routes.Assets.at("images/cards/Cards-29-03.png")',
                youngTwo:'@routes.Assets.at("images/cards/Cards-30-03.png")',
                oldOne:'@routes.Assets.at("images/cards/Cards-31-39.png")',
                oldTwo:'@routes.Assets.at("images/cards/Cards-32-39.png")'}, 
        { name: 'Bodies In Motion', 
                logo:'@routes.Assets.at("images/icons/trail.png")',
                youngOne:'@routes.Assets.at("images/cards/Cards-21-03.png")',
                youngTwo:'@routes.Assets.at("images/cards/Cards-22-03.png")',
                oldOne:'@routes.Assets.at("images/cards/Cards-23-39.png")',
                oldTwo:'@routes.Assets.at("images/cards/Cards-24-39.png")'}, 
        { name: 'Wind Tunnel', 
                logo:'@routes.Assets.at("images/icons/windMill.png")',
                youngOne:'@routes.Assets.at("images/cards/Cards-59-03.png")',
                youngTwo:'@routes.Assets.at("images/cards/Cards-60-03.png")',
                oldOne:'@routes.Assets.at("images/cards/Cards-57-39.png")',
                oldTwo:'@routes.Assets.at("images/cards/Cards-58-39.png")'},
        { name: 'Post Office',
                logo:'@routes.Assets.at("images/icons/postOffice.png")',
                youngOne:'@routes.Assets.at("images/cards/Cards-53-03.png")',
                youngTwo:'@routes.Assets.at("images/cards/Cards-54-03.png")',
                oldOne:'@routes.Assets.at("images/cards/Cards-55-39.png")',
                oldTwo:'@routes.Assets.at("images/cards/Cards-56-39.png")'},
        { name: 'ABC Forest',
                logo:'@routes.Assets.at("images/icons/abcForest.png")',
                youngOne:'@routes.Assets.at("images/cards/Cards-05-03.png")',
                youngTwo:'@routes.Assets.at("images/cards/Cards-06-03.png")',
                oldOne:'@routes.Assets.at("images/cards/Cards-07-39.png")',
                oldTwo:'@routes.Assets.at("images/cards/Cards-08-39.png")'},
        { name: 'Art Room',
                logo:'@routes.Assets.at("images/icons/art.png")',
                youngOne:'@routes.Assets.at("images/cards/Cards-13-03.png")',
                youngTwo:'@routes.Assets.at("images/cards/Cards-14-03.png")',
                oldOne:'@routes.Assets.at("images/cards/Cards-15-39.png")',
                oldTwo:'@routes.Assets.at("images/cards/Cards-16-39.png")'},
        { name: 'Bank',
                logo:'@routes.Assets.at("images/icons/dollarCity.png")',
                youngOne:'@routes.Assets.at("images/cards/Cards-33-03.png")',
                youngTwo:'@routes.Assets.at("images/cards/Cards-34-03.png")',
                oldOne:'@routes.Assets.at("images/cards/Cards-35-39.png")',
                oldTwo:'@routes.Assets.at("images/cards/Cards-36-39.png")'},
        { name: 'Theatre',
                logo:'@routes.Assets.at("images/icons/theatre.png")',
                youngOne:'@routes.Assets.at("images/cards/Cards-49-03.png")',
                youngTwo:'@routes.Assets.at("images/cards/Cards-50-03.png")',
                oldOne:'@routes.Assets.at("images/cards/Cards-51-39.png")',
                oldTwo:'@routes.Assets.at("images/cards/Cards-52-39.png")'} 
    ];
    $scope.array = icmDeck;
    
    $scope.useDeck = function() { $scope.array = icmDeck; };
});

selectModule.filter('shuffle', function() {
    return function(k) {
        for(var j, x, i = k.length; i; j = parseInt(Math.random() * i), x = k[--i], k[i] = k[j], k[j] = x);
        
        return k;
    };
});
</script>