
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/letsplay.css")'>

<div id="readySetPLAY">
    <div id="title">
        <h2> Ready, Set, PLAY! </h2>
    </div>
    <div id="instruct">
        <p> To start playing, select the age group and deck you would like to play with.</p>
    </div>
    <div id="selection">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="deck"></label>
                    <select id="deck" name="deck" class="form-control">
                     <option class="blank" value=""> Select Deck </option>
                        <option> ICM Museum Deck 1 </option>
                        <option> ICM Museum Deck 2 </option>
                    </select>  
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="age"></label>
                    <select id="age" name="age" class="form-control">
                     <option class="blank" value=""> Select Age Group </option>
                        <option> 0-3 </option>
                        <option> 3+</option>
                    </select>  
                </div>
            </div> 
            <div class="col-md-2">
                <a class="btn btn-lg btn-default" onclick="deckSelected();ageSelected();">Play!</a>
            </div>
            <div class="col-md-2"></div>
        </div> <!-- /row -->               
    </div> <!-- /container -->

    <br>

    <div id="deckSelection">
        <h4> You are playing with the <b id="selectedDeck"> -deck-  </b> deck for ages <b id="selectedAge"> -age-</b></h4>
        <br>
    </div>
    <div  id="deckSelection" ng:app="ShuffleModule">
    <div ng-controller="ShuffleController">
        <a class="btn btn-lg btn-default" ng-click="useDeck()"><b>Shuffle!</b></a>
            <div ng-repeat="(card, age) in array | shuffle | limitTo:1">
                <br>
                <a href={{age.small}} title={{card}} data-gallery="gallery" rel='gallery'>{{card}}</a>
            </div>
    </div>
</div>


    
</div> <!-- /readSetPLAY -->


<script type="text/javascript">

    function deckSelected(){
        var deck = document.getElementById('deck').value;
        document.getElementById('selectedDeck').innerHTML = deck;
     }

     function ageSelected(){
        var deck = document.getElementById('age').value;
        document.getElementById('selectedAge').innerHTML = deck;
     }

/* Fisher Yates Shuffle Algorithm 
   http://bost.ocks.org/mike/shuffle/
*/

var shufflemodule = angular.module('ShuffleModule', []);

shufflemodule.filter('shuffle', function() {
    return function(k,v) {
        for(var curr, knew, keys = k, len = o.length; i = len; 
            curr = parseInt(Math.random() * len), 
            knew = o[--len], o[len] = o[curr], o[curr] = knew);
        return (k,v);
    };
});

function ShuffleController($scope) {
    var icmDeck = {
        'Train Room': 
            {'small':'@routes.Assets.at("images/cards/Cards-29-03.png")'}, 
        'Bodies In Motion': 
            {'small':'@routes.Assets.at("images/cards/Cards-21-03.png")'}, 
        'Wind Tunnel': 
            {'small':'@routes.Assets.at("images/cards/Cards-59-03.png")'}, 
        'Post Office' : 
            {'small':'@routes.Assets.at("images/cards/Cards-53-03.png")'},
        'ABC Forest' :
            {'small':'@routes.Assets.at("images/cards/Cards-05-03.png")'},
        'Art Room' : 
            {'small':'@routes.Assets.at("images/cards/Cards-13-03.png")'},
        'Bank' : 
            {'small':'@routes.Assets.at("images/cards/Cards-33-03.png")'},
        'Theatre' :
            {'small':'@routes.Assets.at("images/cards/Cards-49-03.png")'} 
    };
    
    $scope.array = icmDeck;
    
    $scope.useDeck = function() { $scope.array = icmDeck; };
}

</script>