@(loginForm: Form[models.User])

@import helper._
@import helper.twitterBootstrap._

<div id="login" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Login</h3>
            </div>
            <div class="modal-body">
        <div class="modal-body">
            @form(routes.Account.login()) {
                <fieldset>
                    @inputText(
                        loginForm("username"), 'class -> "form-control",
                        '_label -> "Username",
                        '_error -> loginForm.globalError
                    )
          
                    @inputPassword(
                        loginForm("password"), 'class -> "form-control",
                        '_label -> "Password"
                        )
                </fieldset>
                <fieldset>
                    @checkbox(
                        loginForm("accept"),
                        '_label -> None, '_text -> "Remember me",
                        '_showConstraints -> false
                    )
                </fieldset>
        </div>
            <a href="/recoverPassword" style="color: blue;margin-left: 1em;">I forgot my password</a>

            <div class="actions">
                <input type="submit" class="btn btn-large btn-primary" value="Sign In">
                <a class="btn btn-large btn-warning" style="margin-left: 20px;" href="#parentCaregiver" onclick="window.location = '#tab/parentCaregiver'">Register</a>
            </div
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Login">
            </div>
        }
    </div>
</div>
