@(message: Message)

@import enums.MessageLevelEnum

@if(message != null) {

    @if(message.getLevel == MessageLevelEnum.ERROR) {
        <div class="alert alert-danger">
    }
    @if(message.getLevel == MessageLevelEnum.INFO) {
        <div class="alert alert-info">
    }
    @if(message.getLevel == MessageLevelEnum.OK) {
        <div class="alert alert-success">
    }
    @if(message.getLevel == MessageLevelEnum.WARNING) {
        <div class="alert alert-block">
    }

        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>@message.getLevel.label :</strong> @message.getMessage
    </div>
}


