@(registerForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

<h2>Registration</h2>

@form(routes.Account.register) {

    @inputText(
        registerForm("username"), 'class -> "form-control",
        '_label -> "Username",
        '_help -> "Please choose a valid username.",
        '_error -> registerForm.globalError
    )

    @inputPassword(
        registerForm("password"), 'class -> "form-control",
        '_label -> "Password",
        '_help -> "A password must be at least 6 characters. "
    )

    @inputPassword(
        registerForm("repeatPassword"), 'class -> "form-control",
        '_label -> "Repeat password",
        '_help -> "Please repeat your password again.",
        '_error -> registerForm.error("password")
    )
    <br>
    <div class="actions">
        <input type="submit" class="btn btn-success" value="Register">
    </div>
}