Registering as a ‘Game of Games’ user will give you access to secure content such as a virtual ‘passport to play’ and virtual ‘game of games’ cards. Once you register, these materials can be accessed on any web browser.

Registering will also enroll you in a research study being conducted by investigators from The University of Iowa.  The purpose of the study is to get a sense of how you think about playing and learning, to gather information about playtime in your household, and to gather information about how you use the ‘game of games’ materials.

If you agree to participate, we will ask you a few questions about you and your family such as your age and the age of your children. From time to time as you use the ‘game of games’ web site, we will ask you survey questions to get a better sense of how you think about playing and learning. We will also track your usage of the secure ‘game of games’ materials to help us design better materials in the future. You are free to skip any questions that you prefer not to answer. It will take approximately 1-5 minutes to answer questions each time we ask.

To register, you will select a username and password of your choice. Please select a username that does not include your first name, last name, or other identifying information. We will create an identification number that will be associated with your ‘game of games’ profile and the information we collect. This means that it will not be possible to link you to your responses or to the information we gather.

Taking part in this research study is completely voluntary.
If you do not wish to participate, click the “Decline” button below.
If you wish to register as a ‘game of games’ user and participate in our study, click the “Accept” button below.

If you have questions about the rights of research subjects, please contact the Human Subjects Office, 105 Hardin Library for the Health Sciences, 600 Newton Rd, The University of Iowa, Iowa City, IA  52242-1098, (319) 335-6564, or e-mail irb@@uiowa.edu.

        <br><br>

<a class="btn btn-danger" id='decline' href="#" onclick="window.location = '#'">Decline</a>

<a class="btn btn-success" id='accept' href="#register" onclick="window.location = '#tab/register'">Accept</a>