@main("Iowa Children's Museum") {
    <div class="jumbotron masthead">
        <div class="container">

            <h2 style="margin-top: -1em;">The Game of Games</h2>

            <p>Welcome to the ‘Game of Games.’ Get ready to play…and learn!</p>

            <p>The ‘Game of Games’ is a card game designed to bring the ‘Playing is Learning’ initiative home with you. </p>

            <p>(1) Did you know? communicates general concepts about play.      </p>

            <p>(2) Try this at home describes games you can play at home whenever you and your child have a few minutes.  </p>

            <p>Collect the Game of Games cards at participating sites.
            When you and your child are ready to play, shuffle the Game of Games deck.
            Randomly pick a card and play the game on the card for about 5 minutes.
            Repeat as many times as time allows.     </p>

            <p>To get started, go to our registration page. This will give you access to a set of on-line cards. You will also
            receive a code. Bring this code to the main desk at a participating site to pick up your Passport to Play. Once
            you have your passport, collect the cards and stamp your passport to get a special introductory gift! </p>

        </div>
    </div>
}