@(loginForm: Form[User], registerForm: Form[User], messageToShow : Message)

@import tags._

@main("Iowa Children's Museum") {

    <div class="jumbotron masthead">
        <div class="container">

            @message(messageToShow)

            <div id="entrance">
                @entrance(loginForm)
            </div>
            <div id="terms" style="display: none;">
                @terms()
            </div>
            <div id="register" style="display: none;">
                @register(registerForm)
            </div>

        </div>
    </div>
}
