@(user: User, passportForm: Form[Passport])

@import enums.PassportTypeEnum
@import helper._
@import helper.twitterBootstrap._
@import tags._

<html>
    <head>
        <title>Iowa Children's Museum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
        <link rel="shortcut icon" type="image/gif" href='@routes.Assets.at("images/favicon.png")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/blueimp-gallery.min.css")'>

        <script src='@routes.Assets.at("javascripts/jquery-1.9.0.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/bootstrap.min.js")' type="text/javascript"></script>

    </head>

    <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
                <ul class="nav navbar-nav">
                    <li id='home'><a href="/index">Home</a></li>
                    <li id='playing'><a href="/playing">Playing is Learning</a></li>
                    <li id='gog'><a href="/gog">Game of Games</a></li>
                    <li id='resources'><a href="/resources">Resources</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @if(MasterController.getLoggedInUser() != null) {
                        <li><a href="#">Logged in as: <b>@{MasterController.getLoggedInUser().username}</b></a></li>
                        <li><a href="/logout">Log Out</a></li>
                    }
                    <li><img height='40' width='40' style="display:block;max-height: 40px;max-width: 40px;"
                    src='@routes.Assets.at("images/goIconBlue.png")'/></li>
                </ul>
            </div>
    </nav>
        <br><br><br>
        <div id="slideout">
            <div class="feedback"> ! </div>
            <div id="slideout_inner" class="well">
                <div class="modal-body">
                    <p>Looks like you still have some survey questions left. Would you like to complete a few now?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="location.href='/survey'">Yes</button>
                </div>
            </div>
        </div>

        <div class="container">

            <div>
                @message()
            </div>

            <div class="alert alert-success">  <span style="margin-right: 3em;">Hello <b>@user.username</b>.</span>

                @if(Account.isPassportSelected()) {
                    <span>Currently using passport: </span> <span style="margin-right: 2em; font-weight: bold;"> @Account.getSelectedPassportName() </span>

                    <div class="btn-group" style="display: inline;">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            Use a different passport
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @for(p <- Account.getUserPassports()) {
                                <li><a href='/landing/passport/@p.passportName'>@p.passportName</a></li>
                            }
                        </ul>
                    </div>

                    <a onclick="$('#createPassport').toggle();" style="margin-left: 3em;" role="button" class="btn" data-toggle="modal">Create a new passport</a>
                }
                @if(!Account.isPassportSelected()) {
                    @if(MasterController.userHasPassport()) {
                        <div class="btn-group" style="display: inline;">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                My Passports
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @for(p <- Account.getUserPassports()) {
                                    <li><a href='./landing/passport/@p.passportName'>@p.passportName</a></li>
                                }
                            </ul>
                        </div>

                        <a onclick="$('#createPassport').toggle();" style="margin-left: 3em;" role="button" class="btn" data-toggle="modal">Create another passport</a>
                    }
                    @if(!MasterController.userHasPassport()){
                        <span>You don't yet have a passport.</span> <span onclick="$('#createPassport').toggle();" style="margin-left: 3em;" class="btn btn-success" data-toggle="modal">Create a passport</span>
                    }
                }
            </div>

            <div class="alert alert-info">
                Use this code word to receive a 'Game of Games' passport at the Iowa Children's Museum: <code style="font-size: 20px;"> @{MasterController.getCodeOfTheDay()}</code>
            </div>

            <div id='createPassport' class="well" style="display: none;">

                @form(routes.Account.createPassport) {

                    <fieldset class="form-group">
                        @inputText(
                            passportForm("passportName"), 'class -> "form-control",
                            '_label -> "PassportName",
                            '_error -> passportForm.globalError
                        )

                        <div class="passportForm">@select(passportForm("type"), options(PassportTypeEnum.values().toList.map(_.toString)),'class -> "form-control", '_label -> "Select a passport type")</div>

                        <div class="passportForm">@select(field = passportForm("childAge"), options = options(SurveyController.getChildAgesList().toList.map(_.toString)),'class -> "form-control", '_label-> "Choose child age:")</div>
                    </fieldset>

                    <div class="actions">
                        <input type="submit" class="btn btn-large btn-success" value="Create">
                        <a onclick="$('#createPassport').toggle();" class="btn btn-large btn-warning">Cancel</a>
                    </div>
                }

            </div>

            <a href="#myModal" id="surveyButton" style="display: none;" role="button" class="btn" data-toggle="modal"> </a>

            <div  class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                </div>

                <div class="modal-footer">

                </div>
            </div>

            <!--<div class="modal fade" id="myModal">-->
                <!--<div class="modal-dialog">-->
                    <!--<div class="modal-content">-->
                        <!--<div class="modal-header">-->
                            <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                            <!--<h3 id="myModalLabel">Survey Questions</h3>-->
                        <!--</div>-->
                        <!--<div class="modal-body">-->
                            <!--<p>We have a few survey questions for you. Would you like to complete a few now?</p>-->
                        <!--</div>-->
                        <!--<div class="modal-footer">-->
                            <!--<button type="button" class="btn btn-default" data-dismiss="modal">No thanks</button>-->
                            <!--<button type="button" class="btn btn-primary" onclick="location.href='/survey'">Yes</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="row-fluid">
                <table class="table table-bordered table-striped responsive-utilities">
                    <tbody>
                    <tr>
                        <td id='links1' class="is-visible" data-toggle="modal-gallery" data-target="#modal-gallery"><img height='50' width='50' style="max-height: 50px;max-width: 50px;" src='@routes.Assets.at("images/icons/train.png")'>
                            @if(Account.isSelectedPassportUnder3()) {
                                <a href='@routes.Assets.at("images/cards/Cards-29-03.png")' title="TrainRoom" data-gallery="gallery" rel='gallery'>TrainRoom</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-30-03.png")' title="TrainRoom" data-gallery="gallery" rel='gallery'> </a>
                            }
                            @if(Account.isSelectedPassportOver3()) {
                                <a class='overThree' href='@routes.Assets.at("images/cards/Cards-31-39.png")' title="TrainRoom" data-gallery="gallery" rel='gallery'>TrainRoom</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-32-39.png")' title="TrainRoom" data-gallery="gallery" rel='gallery'> </a>
                            }
                        </td>
                        <td id='links2' class="is-visible" data-toggle="modal-gallery" data-target="#modal-gallery"><img height='50' width='50' style="max-height: 50px;max-width: 50px;" src='@routes.Assets.at("images/icons/trail.png")'>
                            @if(Account.isSelectedPassportUnder3()) {
                                <a href='@routes.Assets.at("images/cards/Cards-21-03.png")' title="Bodies in Motion" data-gallery="gallery" rel='gallery'>Bodies in Motion</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-22-03.png")' title="Bodies in Motion" data-gallery="gallery" rel='gallery'></a>
                            }
                            @if(Account.isSelectedPassportOver3()) {
                                <a class='overThree' href='@routes.Assets.at("images/cards/Cards-23-39.png")' title="Bodies in Motion" data-gallery="gallery" rel='gallery'>Bodies in Motion</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-24-39.png")' title="Bodies in Motion" data-gallery="gallery" rel='gallery'></a>
                            }
                        </td>
                        <td id='links3'  class="is-visible" data-toggle="modal-gallery" data-target="#modal-gallery"><img height='50' width='50' style="max-height: 50px;max-width: 50px;" src='@routes.Assets.at("images/icons/windMill.png")'>
                            @if(Account.isSelectedPassportUnder3()) {
                                <a href='@routes.Assets.at("images/cards/Cards-59-03.png")' title="Wind Tunnel" data-gallery="gallery" rel='gallery'>Wind Tunnel</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-60-03.png")' title="Wind Tunnel" data-gallery="gallery" rel='gallery'></a>
                            }
                            @if(Account.isSelectedPassportOver3()) {
                                <a class='overThree' href='@routes.Assets.at("images/cards/Cards-57-39.png")' title="Wind Tunnel" data-gallery="gallery" rel='gallery'>Wind Tunnel</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-58-39.png")' title="Wind Tunnel" data-gallery="gallery" rel='gallery'></a>
                            }
                        </td>
                        <td id='links4' class="is-visible" data-toggle="modal-gallery" data-target="#modal-gallery"><img height='50' width='50' style="max-height: 50px;max-width: 50px;" src='@routes.Assets.at("images/icons/postOffice.png")'>
                            @if(Account.isSelectedPassportUnder3()) {
                                <a href='@routes.Assets.at("images/cards/Cards-53-03.png")' title="Post Office" data-gallery="gallery" rel='gallery'>Post Office</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-54-03.png")' title="Post Office" data-gallery="gallery" rel='gallery'></a>
                            }
                            @if(Account.isSelectedPassportOver3()) {
                                <a class='overThree' href='@routes.Assets.at("images/cards/Cards-55-39.png")' title="Post Office" data-gallery="gallery" rel='gallery'>Post Office</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-56-39.png")' title="Post Office" data-gallery="gallery" rel='gallery'></a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td id='links5' class="is-visible" data-toggle="modal-gallery" data-target="#modal-gallery"><img height='50' width='50' style="max-height: 50px;max-width: 50px;" src='@routes.Assets.at("images/icons/abcForest.png")'>
                            @if(Account.isSelectedPassportUnder3()) {
                                <a href='@routes.Assets.at("images/cards/Cards-05-03.png")' title="ABC Forest" data-gallery="gallery" rel='gallery'>ABC Forest</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-06-03.png")' title="ABC Forest" data-gallery="gallery" rel='gallery'>ABC Forest</a>
                            }
                            @if(Account.isSelectedPassportOver3()) {
                                <a class='overThree' href='@routes.Assets.at("images/cards/Cards-07-39.png")' title="ABC Forest" data-gallery="gallery" rel='gallery'>ABC Forest</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-08-39.png")' title="ABC Forest" data-gallery="gallery" rel='gallery'>ABC Forest</a>
                            }
                        </td>
                        <td id='links6' class="is-visible" data-toggle="modal-gallery" data-target="#modal-gallery"><img height='50' width='50' style="max-height: 50px;max-width: 50px;" src='@routes.Assets.at("images/icons/art.png")'>
                            @if(Account.isSelectedPassportUnder3()) {
                                <a href='@routes.Assets.at("images/cards/Cards-13-03.png")' title="Art Room" data-gallery="gallery" rel='gallery'>Art Room</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-14-03.png")' title="Art Room" data-gallery="gallery" rel='gallery'>Art Room</a>
                            }
                            @if(Account.isSelectedPassportOver3()) {
                                <a class='overThree' href='@routes.Assets.at("images/cards/Cards-15-39.png")' title="Art Room" data-gallery="gallery" rel='gallery'>Art Room</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-16-39.png")' title="Art Room" data-gallery="gallery" rel='gallery'>Art Room</a>
                            }
                        </td>
                        <td id='links7' class="is-visible" data-toggle="modal-gallery" data-target="#modal-gallery"><img height='50' width='50' style="max-height: 50px;max-width: 50px;" src='@routes.Assets.at("images/icons/dollarCity.png")'>
                            @if(Account.isSelectedPassportUnder3()) {
                                <a href='@routes.Assets.at("images/cards/Cards-33-03.png")' title="Bank" data-gallery="gallery" rel='gallery'>Bank</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-34-03.png")' title="Bank" data-gallery="gallery" rel='gallery'>Bank</a>
                            }
                            @if(Account.isSelectedPassportOver3()) {
                                <a class='overThree' href='@routes.Assets.at("images/cards/Cards-35-39.png")' title="Bank" data-gallery="gallery" rel='gallery'>Bank</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-36-39.png")' title="Bank" data-gallery="gallery" rel='gallery'>Bank</a>
                            }
                        </td>
                        <td id='links8' class="is-visible" data-toggle="modal-gallery" data-target="#modal-gallery"><img height='50' width='50' style="max-height: 50px;max-width: 50px;" src='@routes.Assets.at("images/icons/theatre.png")'>
                            @if(Account.isSelectedPassportUnder3()) {
                                <a href='@routes.Assets.at("images/cards/Cards-49-03.png")' title="Theatre" data-gallery="gallery" rel='gallery'>Theatre</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-50-03.png")' title="Theatre" data-gallery="gallery" rel='gallery'>Theatre</a>
                            }
                            @if(Account.isSelectedPassportOver3()) {
                                <a class='overThree' href='@routes.Assets.at("images/cards/Cards-51-39.png")' title="Theatre" data-gallery="gallery" rel='gallery'>Theatre</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-52-39.png")' title="Theatre" data-gallery="gallery" rel='gallery'>Theatre</a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td id='links9' class="is-visible" data-toggle="modal-gallery" data-target="#modal-gallery"><img height='50' width='50' style="max-height: 50px;max-width: 50px;" src='@routes.Assets.at("images/icons/groceryStore.png")'>
                            @if(Account.isSelectedPassportUnder3()) {
                                <a href='@routes.Assets.at("images/cards/Cards-09-03.png")' title="Grocery Store" data-gallery="gallery" rel='gallery'>Grocery Store</a>
                                <a class='overThree' style="display: none;" href='@routes.Assets.at("images/cards/Cards-10-03.png")' title="Grocery Store" data-gallery="gallery" rel='gallery'>Grocery Store</a>
                            }
                            @if(Account.isSelectedPassportOver3()) {
                                <a class='overThree' href='@routes.Assets.at("images/cards/Cards-11-39.png")' title="Grocery Store" data-gallery="gallery" rel='gallery'>Grocery Store</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-12-39.png")' title="Grocery Store" data-gallery="gallery" rel='gallery'>Grocery Store</a>
                            }
                        </td>
                        <td id='links10' class="is-visible" data-toggle="modal-gallery" data-target="#modal-gallery"><img height='50' width='50' style="max-height: 50px;max-width: 50px;" src='@routes.Assets.at("images/icons/hospital.png")'>
                            @if(Account.isSelectedPassportUnder3()) {
                                <a href='@routes.Assets.at("images/cards/Cards-37-03.png")' title="Hospital" data-gallery="gallery" rel='gallery'>Hospital</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-38-03.png")' title="Hospital" data-gallery="gallery" rel='gallery'>Hospital</a>
                            }
                            @if(Account.isSelectedPassportOver3()) {
                                <a class='overThree' href='@routes.Assets.at("images/cards/Cards-39-39.png")' title="Hospital" data-gallery="gallery" rel='gallery'>Hospital</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-40-39.png")' title="Hospital" data-gallery="gallery" rel='gallery'>Hospital</a>
                            }
                        </td>
                        <td id='links11' class="is-visible" data-toggle="modal-gallery" data-target="#modal-gallery"><img height='50' width='50' style="max-height: 50px;max-width: 50px;" src='@routes.Assets.at("images/icons/imagineAcres.png")'>
                            @if(Account.isSelectedPassportUnder3()) {
                                <a href='@routes.Assets.at("images/cards/Cards-01-03.png")' title="Imagine Acres" data-gallery="gallery" rel='gallery'>Imagine Acres</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-02-03.png")' title="Imagine Acres" data-gallery="gallery" rel='gallery'>Imagine Acres</a>
                            }
                            @if(Account.isSelectedPassportOver3()) {
                                <a class='overThree' href='@routes.Assets.at("images/cards/Cards-03-39.png")' title="Imagine Acres" data-gallery="gallery" rel='gallery'>Imagine Acres</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-04-39.png")' title="Imagine Acres" data-gallery="gallery" rel='gallery'>Imagine Acres</a>
                            }
                        </td>
                        <td id='links12' class="is-visible" data-toggle="modal-gallery" data-target="#modal-gallery"><img height='50' width='50' style="max-height: 50px;max-width: 50px;" src='@routes.Assets.at("images/icons/takeFlight.png")'>
                            @if(Account.isSelectedPassportUnder3()) {
                                <a href='@routes.Assets.at("images/cards/Cards-25-03.png")' title="Take Flight" data-gallery="gallery" rel='gallery'>Take Flight</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-26-03.png")' title="Take Flight" data-gallery="gallery" rel='gallery'>Take Flight</a>
                            }
                            @if(Account.isSelectedPassportOver3()) {
                                <a class='overThree' href='@routes.Assets.at("images/cards/Cards-27-39.png")' title="Take Flight" data-gallery="gallery" rel='gallery'>Take Flight</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-28-39.png")' title="Take Flight" data-gallery="gallery" rel='gallery'>Take Flight</a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td id='links13' class="is-visible" data-toggle="modal-gallery" data-target="#modal-gallery"><img height='50' width='50' style="max-height: 50px;max-width: 50px;" src='@routes.Assets.at("images/icons/lego.png")'>
                            @if(Account.isSelectedPassportUnder3()) {
                                <a href='@routes.Assets.at("images/cards/Cards-41-03.png")' title="Lego Room" data-gallery="gallery" rel='gallery'>Lego Room</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-42-03.png")' title="Lego Room" data-gallery="gallery" rel='gallery'>Lego Room</a>
                            }
                            @if(Account.isSelectedPassportOver3()) {
                                <a class='overThree' href='@routes.Assets.at("images/cards/Cards-43-39.png")' title="Lego Room" data-gallery="gallery" rel='gallery'>Lego Room</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-44-39.png")' title="Lego Room" data-gallery="gallery" rel='gallery'>Lego Room</a>
                            }
                        </td>
                        <td id='links14' class="is-visible" data-toggle="modal-gallery" data-target="#modal-gallery"><img height='50' width='50' style="max-height: 50px;max-width: 50px;" src='@routes.Assets.at("images/icons/music.png")'>
                            @if(Account.isSelectedPassportUnder3()) {
                                <a href='@routes.Assets.at("images/cards/Cards-45-03.png")' title="Music Room" data-gallery="gallery" rel='gallery'>Music Room</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-46-03.png")' title="Music Room" data-gallery="gallery" rel='gallery'>Music Room</a>
                            }
                            @if(Account.isSelectedPassportOver3()) {
                                <a class='overThree' href='@routes.Assets.at("images/cards/Cards-47-39.png")' title="Music Room" data-gallery="gallery" rel='gallery'>Music Room</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-48-39.png")' title="Music Room" data-gallery="gallery" rel='gallery'>Music Room</a>
                            }
                        </td>
                        <td id='links15' class="is-visible" data-toggle="modal-gallery" data-target="#modal-gallery"><img height='50' width='50' style="max-height: 50px;max-width: 50px;" src='@routes.Assets.at("images/icons/pizza.png")'>
                            @if(Account.isSelectedPassportUnder3()) {
                                <a href='@routes.Assets.at("images/cards/Cards-17-03.png")' title="Pizzeria" data-gallery="gallery" rel='gallery'>Pizzeria</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-18-03.png")' title="Pizzeria" data-gallery="gallery" rel='gallery'>Pizzeria</a>
                            }
                            @if(Account.isSelectedPassportOver3()) {
                                <a class='overThree' href='@routes.Assets.at("images/cards/Cards-19-39.png")' title="Pizzeria" data-gallery="gallery" rel='gallery'>Pizzeria</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-20-39.png")' title="Pizzeria" data-gallery="gallery" rel='gallery'>Pizzeria</a>
                            }
                        </td>
                        <td id='links16' class="is-visible" data-toggle="modal-gallery" data-target="#modal-gallery"><img height='50' width='40' style="max-height: 50px;max-width: 50px;" src='@routes.Assets.at("images/gog1.png")'>
                            @if(Account.isSelectedPassportUnder3()) {
                                <a href='@routes.Assets.at("images/cards/Cards-63-03.png")' title="Coming soon" data-gallery="gallery" rel='gallery'>Game of Games</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-64-03.png")' title="Coming soon" data-gallery="gallery" rel='gallery'>Game of Games</a>
                            }
                            @if(Account.isSelectedPassportOver3()) {
                                <a class='overThree' href='@routes.Assets.at("images/cards/Cards-61-39.png")' title="Coming soon" data-gallery="gallery" rel='gallery'>Game of Games</a>
                                <a style="display: none;" href='@routes.Assets.at("images/cards/Cards-62-39.png")' title="Coming soon" data-gallery="gallery" rel='gallery'>Game of Games</a>
                            }
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        @if(SurveyController.getStageForLoggedInUser() != "done"){
            <script type="text/javascript">
                document.getElementById('surveyButton').click();
            </script>
        }

        <div id="modal-gallery" class="modal fade">
            <div class="modal-gallery">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">&times;</a>
                        <h3 class="modal-title"></h3>
                    </div>
                    <div class="modal-body">
                        <div class="modal-image"></div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
                        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
                        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
                        <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">$('#modal-gallery').addClass('modal-fullscreen');</script>

        <div class="bs-docs-social">
            <div class="container">
                <ul class="bs-docs-social-buttons">
                    <li>
                        <a href="https://www.facebook.com/groups/461824517237446/">Join us on Facebook</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
        <script src='@routes.Assets.at("javascripts/blueimp-gallery.min.js")' type="text/javascript"></script>
    </body>
</html>

<script type="text/javascript">

    var path = window.location.pathname.replace("/","").replace("#","");

    if(path.trim() == "" || path.trim() == "index")
        $("#home").addClass("active");
    else
        $("#"+path).addClass("active");

</script>

<script>
    document.getElementById('links1').onclick = function (event) {doShow(event, this)};
    document.getElementById('links2').onclick = function (event) {doShow(event, this)};
    document.getElementById('links3').onclick = function (event) {doShow(event, this)};
    document.getElementById('links4').onclick = function (event) {doShow(event, this)};
    document.getElementById('links5').onclick = function (event) {doShow(event, this)};
    document.getElementById('links6').onclick = function (event) {doShow(event, this)};
    document.getElementById('links7').onclick = function (event) {doShow(event, this)};
    document.getElementById('links8').onclick = function (event) {doShow(event, this)};
    document.getElementById('links9').onclick = function (event) {doShow(event, this)};
    document.getElementById('links10').onclick = function (event) {doShow(event, this)};
    document.getElementById('links11').onclick = function (event) {doShow(event, this)};
    document.getElementById('links12').onclick = function (event) {doShow(event, this)};
    document.getElementById('links13').onclick = function (event) {doShow(event, this)};
    document.getElementById('links14').onclick = function (event) {doShow(event, this)};
    document.getElementById('links15').onclick = function (event) {doShow(event, this)};
    document.getElementById('links16').onclick = function (event) {doShow(event, this)};

    function doShow(event, obj) {
        event = event || window.event;
        var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = obj.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    }

</script>

@if(!Account.isPassportSelected()) {
    <script type="text/javascript">
        $(".overThree").css("display","none");
    </script>
}








