@()(content: Html)

@import helper._
@import helper.twitterBootstrap._
@import tags._

<html>
    <head>
        <title>Iowa Children's Museum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bootstrap-image-gallery.min.css")'>
        <link rel="shortcut icon" type="image/gif" href='@routes.Assets.at("images/favicon.png")'>

        <script src='@routes.Assets.at("javascripts/jquery-1.9.0.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/bootstrap.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/underscore-min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/backbone-min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/router.js")' type="text/javascript"></script>
    </head>

    <body>
        <div class="supertron">
                <div class="navbar navbar-fixed-top">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <li id='home'><a href="/index">Home</a></li>
                            <li id='playing'><a href="/playing">Playing is Learning</a></li>
                            <li id='gog'><a href="/gog">Game of Games</a></li>
                            <li id='resources'><a href="/resources">Resources</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li><img height='40' width='40' style="display:block;max-height: 40px;max-width: 40px;"
                                 src='@routes.Assets.at("images/goIconBlue.png")'/>
                            </li>
                        </ul>
                    </div>
                </div>
            <br> <br> <br>

            @content

            <div class="bs-docs-social">
                <div class="container">
                    <ul class="bs-docs-social-buttons">
                        <li>
                            <a href="https://www.facebook.com/groups/461824517237446/">Join us on Facebook</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>

<script type="text/javascript">

    var path = window.location.pathname.replace("/","").replace("#","");

    if(path.trim() == "" || path.trim() == "index")
        $("#home").addClass("active");
    else
        $("#"+path).addClass("active");

</script>
