@(title: String)(content: Html)

@import helper._
@import helper.twitterBootstrap._
@import tags._

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="shortcut icon" type="image/gif" href="@routes.Assets.at("images/favicon.png")">
    <script src='@routes.Assets.at("javascripts/jquery-1.9.0.min.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/bootstrap.min.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/underscore-min.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/backbone-min.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/router.js")' type="text/javascript"></script>
</head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">ICM</a>
                    <ul class="nav">
                        <li class="active"><a href="./#">Home</a></li>
                        <li><a href="./about">About</a></li>
                        <li><a href="./contact">Contact</a></li>
                        <li><a href="./admin">Admin</a></li>
                    </ul>
                </div>
            </div>
        </div>

        @content

        <div class="bs-docs-social">
            <div class="container">
                <ul class="bs-docs-social-buttons">
                    <li>
                        <a href="http://theicm.org/">Children's Museum</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
