@()
@import tags._
@main() {

<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/playGog.css")'>
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bootstrap-image-gallery.min.css")'>
<div class="playGog">
	<div id="instructions">
		<div class="container">
			<div class="row">
				<h2 class="centered">Ready, Set... </h2>
				<div class="col-lg-5 ">
					<br>
					<br>
                    <img style="width:400px;height:275px"src="@routes.Assets.at("images/logos/playing-child.jpg")" alt="">
                </div>
				<div class="col-lg-7" style="text-align:left;">
					<br>
					<br>
		            <h3> How To Play Online: </h3>
		            <p>Select the deck and age group you would like to play with.</p>
		            <p>Click 'Shuffle!' and a random card will display.</p>
		            <p>Click on the card, so it's a full display.</p>
		            <p>Click the full display, and an arrow to the right should show up.</p>
		            <p>Click the arrow and follow the directions. </p>
		            <p>When done playing, click 'X' at the top left corner to exit</p>
		            <p>Click 'Shuffle!' as many times you wish to play.</p>
		    	</div>
			</div><!-- /row -->
    	</div><!-- /container -->
	</div><!-- /instructions -->
	@letsplay()
</div>
<div class="listDecks">
</div>

}