@main() {
    <div class="container" style="color: #212121;text-shadow: none;">

        <h2>Playing is Learning</h2>

        <br>

        <blockquote>
            <p style="font-size: 20px;margin-bottom: 5px;"> “I sometimes compare play to oxygen — it’s all around us, yet goes mostly unnoticed or unappreciated until it is missing.”</p>
            <small>Stuart Brown <cite title="Source Title">, M.D.</cite></small>
        </blockquote>


        <span style="font-size: 20px;font-style:italic;">T</span>o give children a head start on academic success, more children are spending more time in instructional
        settings and less time playing.
        <p>
        Is play simply a purposeless, fun, freeing experience? Yes! And research shows that the openness of play—
        where the process is more important than the product—provides a terrific framework for learning.
        </p>

        <h5>Consider:</h5>
        <ul>
            <li>3-year-olds who spend more time talking with peers during pretend play know more words in
               kindergarten. In free play, children flex their language muscles.</li>
            <li>5-year-olds who play number board games like “Chutes and Ladders” outperform their peers on
                standard math tests.</li>
            <li>Children who are allowed to play after they are exposed to stressful situations show less anxiety and
                learn to regulate their emotions better.</li>
         </ul>
        <br>
        <h5>‘Playing is Learning’ was designed to launch a new community conversation about play, recognizing that…</h5>
        <ul>
            <li>Play is important in the everyday lives of children—play brings joy, fun, and exploration of new ideas.</li>
            <li>Play is important for life-long learning—play creates a foundation for reading, math, science, and art,
                 bringing these skills together with a motivation to learn. </li>
        </ul>

        <br><br><br>

        <blockquote>
            <p style="font-size: 22px;margin-bottom: 5px;"> “Education is not the filling of a pail, but the lighting of a fire.”</p>
            <small>W.B. Yeats <cite title="Source Title">, M.D.</cite></small>
        </blockquote>

    </div>
}