@(questionOne: String, questionTwo: String, questionThree: String, isUserFound: Boolean, isCorrectAnswers: Boolean, password: String, userForm: Form[User], secureForm: Form[User] )

@import helper._
@import helper.twitterBootstrap._
@import tags._

@main("Iowa Children's Museum") {
    <div class="jumbotron masthead">
        <div class="container">
            <br><br>
            @if(isUserFound == null || isUserFound == false) {
                <div>
                    @form(routes.RecoverPassword.isUser) {

                        <fieldset style="margin-top: -50px;">
                            @inputText(
                                userForm("username"),
                                '_label -> "Username",
                                '_error -> userForm.globalError
                            )
                        </fieldset>

                        <div class="actions">
                            <input type="submit" class="btn btn-large btn-primary" value="Retrieve Security Questions">
                        </div>
                    }
                </div>
            }

            @if(isUserFound != null && isUserFound == true) {
                <div>
                    @form(routes.RecoverPassword.secureQuestions) {

                    <fieldset style="margin-top: -50px;">
                        @inputText(
                            secureForm("securityAnswerOne"),
                            '_label -> "questionOne",
                            '_error -> secureForm.globalError
                        )
                        @inputText(
                            secureForm("securityAnswerTwo"),
                            '_label -> "questionTwo",
                            '_error -> secureForm.globalError
                        )
                        @inputText(
                            secureForm("securityAnswerThree"),
                            '_label -> "questionThree",
                            '_error -> secureForm.globalError
                        )
                    </fieldset>

                    <div class="actions">
                        <input type="submit" class="btn btn-large btn-primary" value="Submit">
                    </div>
                    }
                </div>
            }

        </div>
    </div>
}


<a href="#correct" id="correctTrigger" style="display: none;" role="button" class="btn" data-toggle="modal"> </a>
<div id="correct" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Nice going!</h3>
    </div>
    <div class="modal-body">
        <p>Your password is: <b>@password</b> </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Thanks!</button>
    </div>
</div>
@if(isCorrectAnswers != null && isCorrectAnswers) {
    <script type="text/javascript">
        document.getElementById('correctTrigger').click();
    </script>
}


<a href="#myModal" id="sorryTrigger" style="display: none;" role="button" class="btn" data-toggle="modal"> </a>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Sorry!</h3>
    </div>
    <div class="modal-body">
        <p>You answered the questions incorrectly</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Try again</button>
    </div>
</div>

@if(isCorrectAnswers != null && !isCorrectAnswers) {
<script type="text/javascript">
    document.getElementById('sorryTrigger').click();
</script>
}