@main("Iowa Children's Museum") {
<div class="jumbotron masthead">
    <div class="container">

        <h2 style="margin-top:-10px;color: #212121;text-shadow: none;">Resources</h2>
        <div class="well">
            <ul style="list-style-type: none;">
                <li><a href="http://www.delta-center.org" class="lead" style="color:#575757;"> Delta Center </a>         </li>
                <li><a href="http://www.theicm.org" class="lead" style="color:#575757;"> The Iowa Children's Museum </a> </li>
                <li><a href="http://www.thinksmall.org/" class="lead" style="color:#575757;">Think Small</a>      </li>
                <li><a href="http://www.iptv.org/kids/" class="lead" style="color:#575757;">IPTV Kids</a>         </li>
                <li><a href="http://www.learnnow.org/topics/play" class="lead" style="color:#575757;">Learn about play</a> </li>
            </ul>
        </div>

    </div>
</div>
}