@main("Iowa Children's Museum") {
<div class="jumbotron masthead">
    <div class="container">

        <h2 style="margin-top: -1em;">Resources</h2>
        <div class="well">
            <ul>
                <li><a href="www.delta-center.org" class="lead" style="color:black;"> Delta Center </a>         </li>
                <li><a href="www.theicm.org" class="lead" style="color:black;"> The Iowa Children's Museum </a> </li>
                <li><a href="http://www.thinksmall.org/" class="lead" style="color:black;">Think Small</a>      </li>
                <li><a href="http://www.iptv.org/kids/" class="lead" style="color:black;">IPTV Kids</a>         </li>
                <li><a href="http://www.learnnow.org/topics/play" class="lead" style="color:black;">Learn about play</a> </li>
            </ul>
        </div>

    </div>
</div>
}