

@main() {
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/resources.css")'>

<div id="resources">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h3>Explore External Resources</h3>
                <div class="well">
                    <ul style="list-style-type: none;">
                        <li><a href="http://www.delta-center.org"> Delta Center</a></li>
                        <li><a href="http://www.theicm.org"> The Iowa Children's Museum</a></li>
                        <li><a href="http://www.thinksmall.org/">Think Small</a></li>
                        <li><a href="http://www.iptv.org/kids/">IPTV Kids</a></li>
                        <li><a href="http://www.learnnow.org/topics/play">Learn about play</a> </li>
                    </ul>
                </div>
                <br>
                <h3>Videos</h3>
                <div class="well">
                    <ul style="list-style-type: none;">
                        <li><a href="https://vimeo.com/66080433">Game Of Games</a></li>
                        <li><a href="https://vimeo.com/66080432">Playing is Learning</a></li>
                    </ul>
                    <p style="margin-left: 25px;">The password for both is:  <code>play</code></p>

                </div>
            </div><!-- /span12 -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /resources -->
}