@(securityForm: Form[User], id: String)

@import helper._
@import helper.twitterBootstrap._

@main() {

    <div class="container">

        <h2>Security Questions</h2>
        <i style="margin-top: -2.5em;">(For password recovery)</i>
        <br> <br> <br>
        @form(routes.Account.security) {

            @select(securityForm("securityQuestionOne"), options("Where were you born?"->"Where were you born?", "What is your favorite pet?"->"What is your favorite pet?", "What was your favorite toy as a child?"->"What was your favorite toy as a child?", "What is your favorite zoo animal?"->"What is your favorite zoo animal?", "What is your favorite food?"->"What is your favorite food?", "What is your favorite restaurant?"->"What is your favorite restaurant?"), '_label -> "Choose a security question")

            @inputText(
                securityForm("securityAnswerOne"), 'class -> "form-control",
                '_label -> "Security Answer One",
                '_help -> "Please choose an answer.",
                '_error -> securityForm.globalError
            )

            @select(securityForm("securityQuestionTwo"), options("Where were you born?"->"Where were you born?", "What is your favorite pet?"->"What is your favorite pet?", "What was your favorite toy as a child?"->"What was your favorite toy as a child?", "What is your favorite zoo animal?"->"What is your favorite zoo animal?", "What is your favorite food?"->"What is your favorite food?", "What is your favorite restaurant?"->"What is your favorite restaurant?"), '_label -> "Choose a security question")

            @inputText(
                securityForm("securityAnswerTwo"), 'class -> "form-control",
                '_label -> "Security Answer Two",
                '_help -> "Please choose an answer.",
                '_error -> securityForm.globalError
            )

            @select(securityForm("securityQuestionThree"), options("Where were you born?"->"Where were you born?", "What is your favorite pet?"->"What is your favorite pet?", "What was your favorite toy as a child?"->"What was your favorite toy as a child?", "What is your favorite zoo animal?"->"What is your favorite zoo animal?", "What is your favorite food?"->"What is your favorite food?", "What is your favorite restaurant?"->"What is your favorite restaurant?"), '_label -> "Choose a security question")

            @inputText(
                securityForm("securityAnswerThree"), 'class -> "form-control",
                '_label -> "Security Answer Three",
                '_help -> "Please choose an answer.",
                '_error -> securityForm.globalError
            )

            <br>

            <div class="actions">
                <input type="submit" class="btn btn-success" value="Finish">
            </div>

        }

    </div>
}
