@(surveyForm: Form[Survey], survey : Survey, stage : String, age: Integer)

@import tags.surveyQuestions._
@import tags._

@main() {

    <div class="container">

        <div class="row">
            <div class="span8 offset2">
                <h3 style="text-align: center;">Survey Questions</h3>

                @message()

                <div class="row well">

                        @if(stage == "one"){
                            @demographic(surveyForm, survey)
                        }

                        @if(stage == "two"){
                            @playing(surveyForm, survey)
                        }

                        @if(stage == "three"){
                            @child(surveyForm, survey, age)
                        }

                        @if(stage == "four"){
                            @icm(surveyForm, survey)
                        }

                        @if(stage == "five"){
                            @gog(surveyForm, survey)
                        }
                </div>
            </div>
        </div>
    </div>

}

