@(surveyForm: Form[Survey], survey : Survey, stage : String, age: Integer)

@import tags.surveyQuestions._
@import tags._

@main() {

    <a href="#myModal" id="surveyButton" style="display: none;" role="button" class="btn" data-toggle="modal"> </a>
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="position: fixed;top: 50%;left: 50%;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Thank you!</h3>
        </div>
        <div class="modal-body">
            <p>Thanks for taking our surveys. Do you want to continue now or finish later?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="location.href='/landing'">To the games!</button>
            <button class="btn btn-primary" data-dismiss="modal">Continue with the survey</button>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span8 offset2">
                <h3 style="text-align: center;">Survey Questions</h3>

                @message()

                <div class="row well">

                        @if(stage == "one"){
                            @demographic(surveyForm, survey)
                        }

                        @if(stage == "two"){
                            @playing(surveyForm, survey)
                        }

                        @if(stage == "three"){
                            @child(surveyForm, survey, age)
                            <script type="text/javascript">
                                document.getElementById('surveyButton').click();
                            </script>
                        }

                        @if(stage == "four"){
                            @icm(surveyForm, survey)
                        }

                        @if(stage == "five"){
                            @gog(surveyForm, survey)
                        }
                </div>
            </div>
        </div>
    </div>

}

